<form class="form-horizontal" role="search">
  <div class="form-group">
    <div class="col-md-10">
      <input type="text" ng-model="fetchCtrl.search" placeholder="Search by tag, title, Url"  class="form-control" id="searchStr" />
    </div>
    <div class="col-md-2">
      <input class="btn btn-success"  type="submit" value="search">
    </div>
  </div>
</form>
<div id="results">
  <div ng-repeat="website in fetchCtrl.websites | filter:fetchCtrl.search">
    <website-detail website="website" like-website="fetchCtrl.like(website)"></website-detail>
  </div>
</div>
