.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.pr {
  float : right;
}

.pl {
  float : left;
}

.flex-container {
  display: flex;
}

.avatar {
  height: 70px;
  width: 70px;
}

.flex-item {
  margin: 10px;
}

.w100 {
  width: 100%;
}

.name {
  margin-bottom: 10px;
}

body {
  background-color: ivory !important;
}

.panel-body {
  background-color: #f5f5f5 !important;
}

.ddl-title{
  background-color:#5bc0de !important;
  color:#fff !important;
  font-style:italic;
  font-size:80%;
}

.ddl-select.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.select-picker {
  width:'100px';
}
