<h3>Website Details</h3>
<div class="alert alert-info" ng-show="pushCtrl.response">
  <h4>
    Response
  </h4> <strong>{{pushCtrl.response.status}}</strong> {{pushCtrl.response.message}}
</div>
<form name="websiteForm" role="form">
  <div class="form-group" ng-class="{ 'has-error' : websiteForm.title.$invalid && !websiteForm.title.$pristine }">
    <input ng-model="pushCtrl.website.title" required placeholder="title" type="text" class="form-control" name="title" />
  </div>
  <div class="form-group" ng-class="{ 'has-error' : websiteForm.weburl.$invalid && !websiteForm.weburl.$pristine }">
    <input type="url" ng-model="pushCtrl.website.webUrl"  required placeholder="url" class="form-control" name="weburl" />
    <p ng-show="websiteForm.weburl.$invalid && !websiteForm.weburl.$pristine" class="help-block">Enter a valid url.</p>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : websiteForm.tag.$invalid && !websiteForm.tag.$pristine }">
    <input ng-model="pushCtrl.website.tag"  required placeholder="tag" type="text" class="form-control" name="tag" />
  </div>

  <button ng-click="pushCtrl.addWebsite()" ng-disabled="websiteForm.$invalid" type="submit" class="btn btn-success">
    Push
  </button>
</form>

