<div class="panel panel-info">
  <div class="panel-body">
    <div class="flex-container">
      <div class="flex-item" id="image" class="pl">
        <img class="avatar" ng-src="{{website.favicon_image}}"/>
      </div>
      <div class="flex-item w100">
        <div class="name">
        <h3 class="panel-title">
          {{website.title}}
          <a href="{{website.url_address}}" target="_blank"><i class="pr glyphicon glyphicon-new-window"></i></a>
        </h3>
        </div>
        <i class="glyphicon glyphicon-tag"></i> {{website.tag}}
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <i class="glyphicon glyphicon-link"></i> <a href="{{website.url_address}}" target="_blank">{{website.url_address}}</a>
      </div>
    </div>
    <div class="panel-footer">
      <div class="pr">
        <a href="" ng-click="likeWebsite(website)">
          <i class="glyphicon glyphicon-thumbs-up"></i>
        </a> &nbsp;:&nbsp; {{website.likes ? website.likes : 0}}
      </div>

    </div>
  </div>
</div>
